<footer class="container container_footer">
    <div class="container py-4 container-right">
        <div class="row">
            <div class="col-12 col-lg-7 mb-3 mb-lg-0">
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <a href="#" class="logo d-block mb-3 mb-lg-0" style="display:block; margin:0 20px">
                        <img src="/img/logo/logo_vks.png" alt="">

                    </a>
                    <div class="content-footer">
                        <div class="ExternalClass3018F0B141ED40A4941A4A435EAF7100">
                            <p style="text-align&#58;center;">CỔNG THÔNG TIN ĐIỆN TỬ<br>
                                VIỆN KIỂM SÁT NHÂN DÂN TỐI CAO</p>

                            <p style="text-align&#58;center;">Trụ sở&#58; số 9 phố Phạm Văn Bạch - Cầu Giấy
                                - Hà Nội;<br>
                                Điện thoại&#58; 024.38255058-801110 | Fax&#58; 024.38255400<br>
                                Giấy phép&#58;​​&#160;số 243/GP-TTĐT ngày 26/12/2019</p>

                            <p style="text-align&#58;justify;">của Cục Phát thanh, truyền hình và thông tin
                                điện tử</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <p style="margin-bottom: 8px;">
                <p style="text-align: center;">Người chịu tr&aacute;ch nhiệm:&nbsp;<strong>Ch&aacute;nh Văn
                        ph&ograve;ng VKSND tối cao.</strong></p>
                </p>
                <ul class="social list-icons">

                    <li class="item-icon">
                        <a href="#" title="Facebook" onclick="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="item-icon">
                        <a href="#" title="Twitter" onclick="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="item-icon">
                        <a href="#" title="Google-plus" onclick="">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="item-icon">
                        <a href="#" title="Linkedin" onclick="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>
        <div class="ExternalClass59747AED85B64CBCB722CEE4D63FA694">
            <div class="ExternalClass3E0B6FDDEA5642AAAEF74808E33453AB" style="text-align&#58;center;">© Viện
                kiểm sát nhân dân tối cao thiết kế và giữ bản quyền.<br>
                Mong bạn đọc góp ý kiến, phê bình. Thư điện tử liên hệ email&#58; trangtinvkstc@vks.gov.vn
            </div>
        </div>
        </p>
    </div>

    </div>
    </div>
</footer>