<div class="container_header">
    <div class="logo_header">
        <div class="right_logo">
            <div class="left_logo">
                <a href="">
                    <img src="/img/logo/logo.png" alt="">
                </a>
            </div>
            <img src="/img/logo/717_backgroud_trangchu.png" alt="">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Giới Thiệu
              </a>
              <ul class="dropdown-menu dropdown-custom">
                <li><a class="dropdown-item dropdown-item-custom" href="#">CỔNG THÔNG TIN ĐIỆN TỬ VKSND TỐI CAO</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="#">VIỆN KIỂM SÁT NHÂN DÂN TỐI CAO</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="#">TRANG TIN ĐIỆN TỬ VKSND TỈNH, THÀNH PHỐ</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tin Tức
              </a>
              <ul class="dropdown-menu dropdown-custom">
                <li><a class="dropdown-item dropdown-item-custom" href="#">TIN HOẠT ĐỘNG VKSND TỐI CAO</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="#">TIN HOẠT ĐỘNG VKSND ĐỊA PHƯƠNG</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="#">CÔNG TÁC KIỂM SÁT</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="#">TIN TỔNG HỢP</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Văn Bản
              </a>
              <ul class="dropdown-menu dropdown-custom">
                <li><a class="dropdown-item dropdown-item-custom" href="#">VĂN BẢN QUY PHẠM PHÁP LUẬT</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="#">VĂN BẢN TRONG NGÀNH KIỂM SÁT</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tài Khoản
              </a>
              <ul class="dropdown-menu dropdown-custom">
                <li><a class="dropdown-item dropdown-item-custom" href="/news/create">Đăng bài viết</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="/me/stored/news">Bài viết của tôi</a></li>
                <li><a class="dropdown-item dropdown-item-custom" href="/user/signin">Đăng nhập</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-custom" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</div>